#cat-cart-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;    
    /* justify-content: center; */
    padding: 20px 0;
}

#cat-container {
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 8vw;
}

#topito {
    border-bottom: 1px solid #1800A8;
    padding: 12px 0;
}

#cat-cart-container img {
    width: 90%;
    border-bottom: 1px solid #1800A8;
}


#cat-container h2 {
    font-size: 18px;
    color: #141414;
}