footer {
    border-top: 1px dashed var(--blue);
    background-color: var(--blue);
    color: var(--light-pink);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer ul {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    font-size: 14px;
}

footer ul li {
    margin: 18px;
    position: relative;
}

footer ul li img {
    width: 12px;
}

footer ul li span {
    font-weight: 700;
    border-bottom: 1px solid var(--light-pink);
}

/* footer ul li::after {
    content: "";
    display: block;
    position: absolute;
    width: 0%;
    height: 1px;
    margin-top: 4px;
    background-color: white;
    transition: 0.8s ease;
} */

/* footer ul li:hover::after {
    width: 100%;
} */