footer {
    background-color: var(--light-pink);
    color: var(--blue);
}

footer ul {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    font-size: 14px;
}

footer ul li {
    padding: 20px;
}