footer {
    background-color: var(--light-pink);
    color: var(--blue);
}

footer ul {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    font-size: 14px;
}

footer ul li {
    margin: 20px;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--light-pink);
    transition-property: border-bottom;
    transition-duration: 0.5s;
    cursor: pointer;
}

footer ul li:hover {
    border-bottom: 1px solid var(--blue);
}