.title-forme {
    width: 74vw;
    height: 5em;
    background-color: #eae6ff;
}

.form-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 100px 0;
}

.form-container button {
    color: white;
    background-color: var(--blue);
    padding: 12px 0;
    width: 180px;
}