#item-cart-container {
    /* border: 4px solid green; */
    display: flex;
    margin: 60px 0;
    flex-wrap: wrap;
    justify-content: center;
}

.single-item-cart {
    /* border: 2px solid red; */
    width: 350px;
    height: auto;
    position: relative;
    margin: 0 24px 46px 24px;
    /* margin: 0 60px; */
}

.indisponible {
    /* border: 1px solid red; */
}

.enfant-indispo {
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--light-pink);
    margin: 20px;
    background-color: tomato;
    padding: 3px 5px;
}

.single-item-cart img {
    /* border: 1px solid red; */
    width: 350px;
    height: auto;
    border-bottom: 1px solid var(--blue);
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    transition-property: border-top, border-right, border-left;
    transition-duration: 0.6s;
}

.single-item-cart:hover img {
    border-top: 1px solid var(--blue);
    border-right: 1px solid var(--blue);
    border-left: 1px solid var(--blue);
}

#item-cart-container #title-item {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
    border-bottom: 1px solid var(--blue);
}

#item-cart-container h2 {
    font-size: 18px;
    color: var(--blue);
}

#item-cart-container p {
    font-size: 18px;
    color: var(--blue);
}

.plus-d-infos {
    color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 4px;
    top: 20px;
    left: 20px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px dashed var(--blue);
    border-top: 1px dashed var(--blue);
}

div.enfant {
    display: none;
}

div.parent:hover .enfant {
    display:block;
}







@media (max-width: 414px) {
    
    #item-cart-container {
        width: 100vw;
        margin: 0;
    }

    .single-item-cart {
        width: 90vw;

    }

    .single-item-cart img {
        width: 90vw;
    }

}