.nav {
    border-bottom: 1px dashed var(--blue);
    font-family: 'Ruda', sans-serif;
    /* font-weight: bold; */
    display: flex;
    justify-content: space-between;
    height: 48px;
    /* background: linear-gradient(#fCD200, #ffffa3); */
    background-color: var(--blue);
    color: var(--light-pink);
    font-size: 14px;
    align-items: center;
}

.nav ul {
    /* border: 1px solid grey; */
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
}

.nav ul li {
    /* border-bottom: 1px solid var(--light-pink); */
    padding: 8px 0;
    position: relative;

}

.nav ul li::after {
    content: "";
    display: block;
    position: absolute;
    width: 0%;
    height: 1px;
    margin-top: 5px;
    background-color: white;
    transition: 0.8s ease;
  }

.nav ul li:hover::after {  
  width: 100%;
}

/* .nav ul li:hover {
    border-bottom: 1px solid var(--blue);
} */

#jo2-home img {
    /* border: 1px solid red; */
    width: 28px;
    transition: transform;
    transition-duration: 0.5s;
}

#jo2-home {
    display: flex;
    justify-content: center;
    margin: 0 0 0 70px;
}

#jo2-home img:hover {
    transform: scale(1.1);

}

#social-div {
    display: flex;
    margin: 0 70px 0 0;
    align-items: center;
    justify-content: center;
}

#social-div a {
    display: flex;
    align-items: center;
    justify-content: center;
}

#social-div img {
    width: 24px;
    height: 24px;
    transition: transform;
    transition-duration: 0.5s;
}

#social-div img:hover {
    transform: scale(1.1);
}