.nav {
    /* border: 2px solid #fCD200; */
    font-family: 'Ruda', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    height: 80px;
    /* background: linear-gradient(#fCD200, #ffffa3); */
    background-color: var(--light-pink);
    color: var(--blue);
    font-size: 14px;
    align-items: center;
}

.nav ul {
    /* border: 1px solid grey; */
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
}

.nav ul li {
    border-bottom: 1px solid var(--light-pink);
    padding-bottom: 8px;
    transition-property: border-bottom;
    transition-duration: 1s;
}

.nav ul li:hover {
    border-bottom: 1px solid var(--blue);
}

#jo2-home {
    margin: 0 0 0 70px;
    font-size: 20px;
    border-bottom: 2px solid var(--light-pink);
    padding-bottom: 8px;
    transition-property: border-bottom;
    transition-duration: 1s;
}

#jo2-home:hover {
    border-bottom: 2px solid var(--blue);
}

#social-div {
    display: flex;
    width: 110px;
    justify-content: space-between;
    margin: 0 70px 0 0;
}

.social-logo {
    width: 20px;
    height: 20px;
    background-color: var(--blue);
}

#social-div img {
    width: 20px;
    height: 20px;
    /* transition-property: border-bottom; */
    transition: transform;
    transition-duration: 0.5s;
}

#social-div img:hover {
    transform: scale(1.1);
}